/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --third-font: 'Roboto', sans-serif;
    --alternate-font: 'Manrope', sans-serif;
    --primary-color: #4673FF;
    --secondary-color: #020024;
    --font-primary: #140A0A;
    --font-secondary: #212738;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    outline: 0;
    border: 0;
    height: 1px;
    opacity: .2;
    background: linear-gradient(to right, transparent, #020024, transparent);
}


/* Header Container Styles */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 50px;
}

.header-title {
    font-size: 24px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--font-primary);
}

.header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.item ul {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}

.item ul li a {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--font-primary);
    text-decoration: none;
}

.icon {
    display: flex;
    align-items: center;
    gap: 34px;
}

.icon .fa-magnifying-glass {
    font-size: 24px;
}

.icon .fa-cart-shopping {
    font-size: 36px;
}

/* Hero Container Styles */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 133px;
    width: 70%;
    margin: auto;
}

.hero-content {
    width: 100%;
}

.hero-content h3 {
    font-size: 52px;
    font-weight: 700;
    font-family: var(--primary-font);
    padding-bottom: 16px;
    color: var(--font-primary);
}

.hero-content p {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--primary-font);
    padding-bottom: 16px;
    color: var(--font-secondary);
}

.hero-content button {
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--primary-font);
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.hero-content button>.fa-arrow-right {
    margin-left: 8px;
}

.image {
    background-image: url("../assets/images/Circle\ design.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
}

.image img {
    width: 100%;
}

/* Sponsor Container Styles */
.sponsor-container {
    width: 70%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px 0;
}

/* Photoshoot Collection */
.photo-container {
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}

.photo-container>h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: var(--primary-font);
    text-align: center;
    margin-bottom: 30px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.collection-detail {
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px;
}

.collection-detail img {
    width: 100%;
}

.collection-detail .collection-title {
    font-size: 28px;
    font-family: var(--primary-font);
    font-weight: 500;
    margin-top: 16px;
}

.collection-detail h4 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--secondary-font);
    margin: 6px 0 12px 0;
}

.collection-detail .icon-detail {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
}

.icon-detail .fa-star,
.fa-star-half-stroke {
    color: #FB8200;
    font-size: 12px;
}

.icon-detail p {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--third-font);
}

.see-more {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--primary-font);
    text-align: end;
}

.see-more>.fa-arrow-right {
    padding-left: 8px;
}

/* Featured Container Styles */
.feature-container {
    width: 60%;
    margin: auto;
}

.features {
    display: flex;
    gap: 96px;
    align-items: center;
}

.feature-detail h3 {
    font-size: 38px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--font-secondary);
    margin-bottom: 16px;
}

.feature-detail p {
    font-size: 16px;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--font-secondary);
    margin-bottom: 16px;
}

.feature-detail button {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: 0;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 700;
}

.feature-detail button .fa-arrow-right {
    margin-left: 8px;
}

/* Footer Section Styles */


/* ------------------- 
    Responsive Styles 
----------------------- */
/* Mobile Devices */
@media only screen and (max-width: 576px) {

    .header-container,
    .header-items,
    .item ul,
    .icon {
        flex-direction: column;
        gap: 16px;
    }

    .header-container {
        padding-top: 36px;
        padding-bottom: 24px;
    }

    .header-title {
        font-size: 16px;
    }

    .item ul li a {
        font-size: 14px;
    }

    .icon .fa-magnifying-glass {
        font-size: 16px;
    }

    .icon .fa-cart-shopping {
        font-size: 24px;
    }

    .hero-container {
        flex-direction: column-reverse;
        width: 100vw;
        gap: 16px;
    }

    .hero-content {
        width: 100vw;
        padding: 0 16px;
        text-align: center;
    }

    .hero-content h3 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .image {
        width: 100%;
        background-position: center;
    }

    .sponsor-container {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sponsors {
        flex-wrap: wrap;
        gap: 30px;
        padding: 24px 16px;
    }

    .sponsors div img {
        width: 56px;
    }
}

.hide {
    display: none;
}